<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>My kitchen - Login</title>
</head>

<body>
    <header>
        <div><img src="../assets/images/logo.png" alt="logo du site : chapeau de cuisinier"></div>

        <h1>Welcome to My Kitchen</h1>

        
    </header>

    <main>
        <p class="description">Discover, share, and explore recipes with other users. </p>
        <section>
            <h2>Log in to your account</h2>


            <form>
                <label for="email">Email</label>
                <input name="email" id="email" type="" placeholder="your email">

                <label for="password">Password</label>
                <input name="password" id="password" type="password">

                <button type="button" id="login">Login</button>
            </form>

            <a href="../views/register.html">Sign In</a>
        </section>

    </main>

    <footer>
        <p>Stack:</p>

        <p>JavaScript</p>
        <div><img src="../assets/images/js.png" alt="logo JavaScript"></div>
        <p>Node.Js</p>
        <div><img src="../assets/images/nodejs.png" alt="logo Node.Js"></div>
        <p>MongoDb</p>
        <div><img src="../assets/images/mongodb.png" alt="logo MongoDb"></div>

    </footer>
    <script src="../controller/login.js"></script>
</body>

</html>