<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>My Kitchen - Sign In</title>
</head>


<body>
    <header>
        <div><img src="../assets/images/logo.png" alt="logo du site : chapeau de cuisinier"></div>
        <h1>Welcome to My Kitchen</h1>
    </header>

    <main>
        <section>
            <h2>Create your account</h2>

            <form>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" placeholder="your name">

                <label for="registerEmail">Email</label>
                <input name="registerEmail" id="registerEmail" type="email" placeholder="your email">

                <label for="registerPassword">Password</label>
                <input name="registerPassword" id="registerPassword" type="password">

                <button type="button" id="signIn">Sign in</button>
            </form>
            <a href="../views/login.html">Login</a>
        </section>

    </main>

    <script src="../controller/register.js"></script>
</body>

</html>